* {
    margin: auto;
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin: 2rem;
    background-color: white;
}

.title {
    text-align: center;
    margin: 20px;
    font-size: 2em;
    color: white;
    background-color: rgb(29, 120, 138);
    padding: 8px;
}

title {
    display: none;
}

.intro{
    font-size: 2em;
    color: rgb(29, 120, 138);
}

.links{
    padding:16px;
    font-size: larger;
    color: black;
}

a {
  color: inherit;             
  text-decoration: none;      
}